
 /* Tailwind Css */
@import "./../../../node_modules/tailwindcss/dist/base.css";
@import "./../../../node_modules/tailwindcss/dist/components.css";
@import "./../../../node_modules/tailwindcss/dist/utilities.css";